.div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-items: center;
  flex-direction: column;
}
.button {
  background-color: blue;
  color: white;
  padding: 5px 20px;
  border: 0;
  border-radius: 4px;
  margin: 5px;
}
