.imageGallery {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: calc(100vw - 48px);
  gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-inline: auto;
}
